h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 12rem;

  padding: 0;
  margin: 0;
  letter-spacing: 0.5rem;
}



section{
  margin-top: 8rem;
  margin-left: 6rem;
  margin-right: 6rem;
  justify-content: center;

  display: flex;
  flex-flow: row wrap;
  height: 100%;
  gap: 3rem;
}
