$headerHeight: auto;
$footerHeight: auto;

.app-layout {
  display: grid;

  grid-template-areas: 'header' 'main-content' 'footer';
  grid-auto-rows: $headerHeight 1fr $footerHeight;
}

header {
  grid-area: header;
  position: fixed;
  top: 0;
  right: 0;
}

main {
  grid-area: main-content;
}

footer {
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
}


