
.ak-card {
  max-width: 20rem;


  border-radius: 0.1rem;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);

  .ak-card-header {
    padding: 0.5rem;
  }

  .ak-card-image {
  }

  .ak-card-content {
   padding: 0.5rem;
  }

  .ak-card-footer {
    padding: 0.5rem;
  }

  img{
    padding: unset;
    height: 100%;
    width: 100%;
  }
}
